

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-578953772294734641.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-578953772294734641.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-578953772294734641.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-578953772294734641.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-578953772294734641.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-578953772294734641.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-578953772294734641.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-578953772294734641.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-578953772294734641.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-578953772294734641.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-578953772294734641.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-578953772294734641.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-578953772294734641.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-578953772294734641.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-578953772294734641.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-578953772294734641.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-578953772294734641.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-578953772294734641.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-578953772294734641.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-578953772294734641.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-578953772294734641.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-578953772294734641.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-578953772294734641.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-578953772294734641.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-578953772294734641.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-578953772294734641.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-578953772294734641.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-578953772294734641.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-578953772294734641.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-578953772294734641.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-578953772294734641.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-578953772294734641.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-578953772294734641.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-578953772294734641.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-578953772294734641.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-578953772294734641.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-578953772294734641.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-578953772294734641.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-578953772294734641.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-578953772294734641.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-578953772294734641.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-578953772294734641.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-578953772294734641.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-578953772294734641.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-578953772294734641.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-578953772294734641.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-578953772294734641.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-578953772294734641.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-578953772294734641.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-578953772294734641.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-578953772294734641.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-578953772294734641.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-578953772294734641.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-578953772294734641.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-578953772294734641.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-578953772294734641.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-578953772294734641.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-578953772294734641.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-578953772294734641.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-578953772294734641.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-578953772294734641.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-578953772294734641.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-578953772294734641.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-578953772294734641.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-578953772294734641.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-578953772294734641.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-578953772294734641.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-578953772294734641.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-578953772294734641.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-578953772294734641.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-578953772294734641.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-578953772294734641.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-578953772294734641.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-578953772294734641.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-578953772294734641.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-578953772294734641.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-578953772294734641.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-578953772294734641.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-578953772294734641.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-578953772294734641.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-578953772294734641.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-578953772294734641.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-578953772294734641.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-578953772294734641.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-578953772294734641.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-578953772294734641.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-578953772294734641.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-578953772294734641.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-578953772294734641.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-578953772294734641.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-578953772294734641.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-578953772294734641.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-578953772294734641.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-578953772294734641.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-578953772294734641.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-578953772294734641.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-578953772294734641 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-578953772294734641 .gp-relative{position:relative}.gps-578953772294734641 .gp-sticky{position:sticky}.gps-578953772294734641 .gp-z-1{z-index:1}.gps-578953772294734641 .\!gp-m-0{margin:0!important}.gps-578953772294734641 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578953772294734641 .gp-mb-0{margin-bottom:0}.gps-578953772294734641 .gp-flex{display:flex}.gps-578953772294734641 .gp-inline-flex{display:inline-flex}.gps-578953772294734641 .gp-grid{display:grid}.gps-578953772294734641 .\!gp-hidden{display:none!important}.gps-578953772294734641 .gp-hidden{display:none}.gps-578953772294734641 .gp-h-full{height:100%}.gps-578953772294734641 .gp-max-w-full{max-width:100%}.gps-578953772294734641 .gp-shrink-0{flex-shrink:0}.gps-578953772294734641 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578953772294734641 .gp-flex-col{flex-direction:column}.gps-578953772294734641 .gp-items-center{align-items:center}.gps-578953772294734641 .gp-justify-center{justify-content:center}.gps-578953772294734641 .gp-overflow-hidden{overflow:hidden}.gps-578953772294734641 .gp-break-words{overflow-wrap:break-word}.gps-578953772294734641 .gp-text-center{text-align:center}.gps-578953772294734641 .gp-no-underline{text-decoration-line:none}.gps-578953772294734641 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578953772294734641 .gp-duration-200{transition-duration:.2s}.gps-578953772294734641 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578953772294734641 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-578953772294734641 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-578953772294734641 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-578953772294734641 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-578953772294734641 .tablet\:\!gp-hidden{display:none!important}.gps-578953772294734641 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-578953772294734641 .mobile\:\!gp-hidden{display:none!important}.gps-578953772294734641 .mobile\:gp-hidden{display:none}}.gps-578953772294734641 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-578953772294734641 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-578953772294734641 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-578953772294734641 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-578953772294734641 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-578953772294734641 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>


    
    <gp-sticky
    data-id="gQyYqQpvvQ"
      gp-data='{"uid":"gQyYqQpvvQ","setting":{"display":{"desktop":"always","tablet":"always","mobile":"always"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gQyYqQpvvQ"
      data-id="gQyYqQpvvQ"
      class="sticky-wrapper  gQyYqQpvvQ undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:block;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:block;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:block;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--pt:16px;--pb:16px;--pr:20px;--pl:20px;--pt-mobile:10px;--pb-mobile:10px;--pr-mobile:20px;--pl-mobile:20px;--pt-tablet:16px;--pb-tablet:16px;--pr-tablet:20px;--pl-tablet:20px;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--bgc:#334FB4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gn_Kt02_QM gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#scroll-to-top","selectedTab":"scrollToList","target":"_self","title":"Scroll to top"}}'
      style="--bottom:80px;--bottom-mobile:95px;--pos:absolute;--right:1px"
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:right" >
        <style>[data-id="gAg7e8VwAs"].gp-button-base::before, [data-id="gAg7e8VwAs-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gAg7e8VwAs"]:hover::before, [data-id="gAg7e8VwAs-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#scroll-to-top
            target=_self
          ></a>
        <a
          data-id="gAg7e8VwAs" dataId="gAg7e8VwAs" data-state="idle" aria-label
          
          href="#scroll-to-top" target="_self"
          style="--w:48px;--w-tablet:48px;--w-mobile:36px;--h:48px;--h-tablet:48px;--h-mobile:36px;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#00000000;--c:#242424"
          class="gAg7e8VwAs gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817554946326888">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,120.49a12,12,0,0,1-17,0L140,69V216a12,12,0,0,1-24,0V69L64.49,120.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0l72,72A12,12,0,0,1,208.49,120.49Z" /></svg>
    </span>
  
          
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gskhVcmSit"}' data-id="gskhVcmSit" id="gskhVcmSit" data-same-height-subgrid-container class="gskhVcmSit gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gRpgnoeyWw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEjjufSU0N"
        class="gEjjufSU0N"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755469409627"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEjjufSU0N_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gEjjufSU0N">
        .gEjjufSU0N {

}
.gEjjufSU0N p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gi_ZZS2UJa gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"/products/dreamy-pup-chews","target":"_blank","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:8px;--ta:right" >
        <style>[data-id="g8jmUuDcP9"].gp-button-base::before, [data-id="g8jmUuDcP9-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="g8jmUuDcP9"]:hover::before, [data-id="g8jmUuDcP9-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g8jmUuDcP9" dataId="g8jmUuDcP9" data-state="idle" aria-label="<p>GET 50% OFF</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/dreamy-pup-chews" target="_blank"
          style="--w:Auto;--w-tablet:292px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:93px;--pr:93px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FFFFFF;--bg:#FFFFFF;--c:#334FB4;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="g8jmUuDcP9 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg8jmUuDcP9_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g8jmUuDcP9">
        button.g8jmUuDcP9 {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-578953772294734641 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nk11fa-0h/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=578953754309558805&sectionId=578953772294734641)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEjjufSU0N_text","label":"ggEjjufSU0N_text","default":"<p>ORDER NOW TO GET 50% OFF!</p>"},{"type":"html","id":"gg8jmUuDcP9_label","label":"gg8jmUuDcP9_label","default":"<p>GET 50% OFF</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
